.container {
	max-width: 940px;
	margin: 0 auto;
}

select {
	display: block;
	width: 200px;
	margin: 0 auto;
	outline: none;
	padding: 10px;
	border-radius: 5px;
	font-size: 20px;
}

ul {
	font-size: 20px;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
